@model IEnumerable<sonmarket.Models.Produto>
@{
    Layout = "_LayoutAdm";
}
<h2>Ativar produtos</h2>
<script>
    $(document).ready(function () {
        $('#produtos').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="produtos" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Preço de custo</th>
            <th>Preço de venda</th>
            <th>Medição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Nome</td>
                <td>@prod.Categoria.Nome</td>
                <td>@prod.Fornecedor.Nome</td>
                <td>R$ @prod.PrecoDeCusto</td>
                <td>R$ @prod.PrecoDeVenda</td>
                <td>
                    @if (@prod.Medicao == 0)
                    {
                        <p>Litro</p>
                    }
                    else if (@prod.Medicao == 1)
                    {
                        <p>Quilo</p>
                    }
                    else if (@prod.Medicao == 2)
                    {
                        <p>Unidade</p>
                    }
                    else
                    {
                        <p>Unidade</p>
                    }
                </td>
                <td>
                    <form asp-controller="Produtos" asp-action="Ativar" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@prod.Id">
                        <button class="btn btn-success">Ativar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>