@model IEnumerable<sonmarket.Models.Fornecedor>
@{
    Layout = "_LayoutAdm";
}
<h2>Ativar fornecedores</h2>
<script>
    $(document).ready(function () {
        $('#fornecedores').DataTable();
    });
</script>

<table id="fornecedores" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forn in Model)
        {
            <tr>
                <td>@forn.Id</td>
                <td>@forn.Nome</td>
                <td>@forn.Email</td>
                <td>@forn.Telefone</td>
                <td>
                    <form asp-controller="Fornecedores" asp-action="Ativar" style="display: inline;">
                        <input type="hidden" name="id" id="id" value="@forn.Id">
                        <button class="btn btn-success">Ativar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>